/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
profiles.clj

#Scratchfiles
/src/repl

#Intellij IDEA project files
.idea/workspace.xml
.idea/tasks.xml
.idea/replstate.xml

